<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2> here's the post by @<i><%=post.username %></i></h2>
    <p>post id: <%=post.id%></p>
   <div class="post"> <p><%= post.content %></p></div>
</body>
</html>